html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* ====== hero Section ====== */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-image {
    flex: 1.5;
    min-height: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    flex: 1;
    min-height: 0;
    display: flex;
}

.hero-text {
    min-width: 0;
    flex: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
}

.hero-logo {
    min-width: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ====== solution Section ====== */

.solution {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.solution h2 {
    text-align: center;
    margin-bottom: 40px;
}

.solution-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-inline: 80px;
}

.solution-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ====== learning-outcomes Section ====== */

.learning-outcomes {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.learning-outcomes h2 {
    text-align: center;
    margin-bottom: 40px;
}

.learning-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-inline: 80px;
}

.learning-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ====== courses-preview Section ====== */

.courses-preview {
    display: flex;
    flex-direction: column;
}

.courses-preview h2 {
    text-align: center;
    margin-bottom: 40px;
}

.courses-carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.courses-carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.courses-carousel-component {
    flex: 0 0 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* ====== stats Section ====== */

.stats {
    height: 100vh;
    position: relative;   
}

.stats-image {
    height: 100%;
    width: 100%;
    z-index: 1;
    inset: 0;
    position: absolute;
}

.stats-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}   

.stats-info {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* ====== plans Section ====== */

.plans {
    display: flex;
    height: 100vh;
}

.plans-container {
    flex: 1;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding: 80px;
}

.plans-methods {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    gap: 20px;
}

.plans-cards {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.plan-cards-container {
    flex: 1;
    display: flex;
    gap: 20px;
}

.plan-component {
    flex:1;
}

.plan-tittle {
    text-align: center;
    margin-bottom: 20px;
}

.plan-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plan-price {
    font-size: 24px;
    font-weight: bold;
}

.plan-info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ====== testimonials Section ====== */

.testimonials {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;   
}

.testimonials-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.testimonials h2 {
    flex: 1;
    text-align: center;
    margin-bottom: 40px;
}

.testimonials-content {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 60px;
}

.testimonials-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* ====== cta Section ====== */

.cta {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

.cta-container img {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    position: absolute;
}

.cta-container h2 {
    z-index: 1;
    inset: 0;
}

.cta-container a {
    z-index: 1;
    inset: 0;

}

/* ====== Footer ====== */

footer {
    height: 20vh;
    display: flex;
}

.footer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer-content {
    flex: 3;
    display: flex;
}

.footer-page-logo {
    flex: 1;
    display: flex;
}

.footer-page-logo img {
    width: auto;
    height: 20vh;
    object-fit: contain;
}

.footer-nav {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}